body {
  margin: 0;
}

.page-title {
  font-size: 6rem;
  font-weight: bold;
  margin: 0 0 2rem;
  color: red;
}

.nav-box {
  background-color: green;
  color: white;
  width: 100%;
}
.nav-bar {
  width: 60%;
  margin: 0 auto;
  padding: 0;
  display: flex;
}
.nav-bar li {
  padding: 0.5rem 3rem;
  list-style-type: none;

} 

.nav-bar li:hover {
  background-color: yellow;
  color: black;
 } 