
main {
  display: grid;
  place-items: center;
}
.container {
  text-align: center;
}
h1 {
  font-size: 6rem;
  color: green;
}

button {
  width: fit-content;
  font-size: 40px;
  padding: 1rem;
  background-color: rgb(174, 227, 251);
  color:rgb(0, 55, 255);
  border: 2px solid rgb(0, 55, 255);
  font-weight: bold;
}

button:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}